<div class="container">
  <form [formGroup]="myForm">
    <input class=""
      type="number"
      required
      placeholder="Введите сумму"
      name="name"
      formControlName="value"
    />
    <br>
    <div
      class="alert alert-danger"
      *ngIf="
        myForm.controls['value'].invalid && myForm.controls['value'].touched
      "
    >
      Не введена сумма
    </div>

    <textarea
      name=""
      id=""
      cols="20"
      rows="1"
      placeholder="Введите комментарий"
      formControlName="comment"
    ></textarea>
    <br>
    <input type="radio" required name="type" value="+" formControlName="type" />
    <label for="type">приход</label>
    <input required type="radio" name="type" value="-" formControlName="type" />
    <label for="type">расход</label>
    <div
      class="alert alert-danger"
      *ngIf="myForm.controls['type'].invalid && myForm.controls['type'].touched"
    >
      Не выбран тип
    </div>
    <br>
    <input type="date" name="date" id="date" formControlName="date" />
    <hr />
    <button
      class="btn btn-dark"
      (click)="submit()"
      [disabled]="myForm.invalid"
    >
      OK
    </button>

  </form>

</div>

